nav{
    display: flex;
    background-color: #43281C;
    align-items: center;
    justify-content:center;
    padding: 15px 0px;
}
.icon{
    height: 30px;
    width: 30px;
    margin: 0px 5px 0px 0px;
}
.title{
    color: #FBF2C0;
    font-size: 15px;
    font-family:sans-serif;
}

body{
    background-color: red;
    background-color: #efefef;
    margin: 0px;
}

.page{
    display: grid;
}